@{    ViewData["Title"] = "Home Page"; }
<div class="jumbotron">   
    <h1>Course Management System</h1>
    
    </div> <div class="row"> 
      
    <h2>Welcome to Course Management System</h2>   
    <p>       
        Course Management System is a sample application that      
        demonstrates how to use Entity Framework Core in an   
        ASP.NET Core MVC web application.I create this to develop my knowledge.........!     
        </p>    
       
    
   
    </div>
